{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h3>Login</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    <div class="mb-3">
                        {{ form.username.label_tag }}
                        {{ form.username|add_class:"form-control" }}
                        {% if form.username.errors %}
                            <div class="text-danger">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label_tag }}
                        {{ form.password|add_class:"form-control" }}
                        {% if form.password.errors %}
                            <div class="text-danger">
                                {{ form.password.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>

                <!-- Registration Link -->
                <div class="text-center mt-3">
                    <p>Don't have an account? 
                        <a href="{% url 'register' %}" class="btn btn-link">Register here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
